@model AdminPanel.CodeModels.P_CommodityInfo
@{
    Layout = null;
    ViewBag.Title = "CreateCommodityInfo";
    List<AdminPanel.CodeModels.P_CommodityType> CTypeList = ViewBag.CommodityType;
}
<div class="page-title">
    <div class="title_left">
        <h3>商品管理</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>新增商品</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Save", "CommodityInfo", FormMethod.Post, new { id = "formForm",onsubmit = "return validateCallback(this,dialogAjaxDone);", @class = "form-horizontal form-label-left", role = "form" }))
                {
                    @Html.Hidden("formOperateType") 
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("Commodity_Code", Model.Commodity_Code)
                    @Html.Hidden("Creator", Model.Creator)
                    @Html.Hidden("Creation_Time", Model.Creation_Time)
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Commodity_Name">
                            商品名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Commodity_Name", Model.Commodity_Name, new { @class = "form-control col-md-7 col-xs-12", placeholder = "商品名称", validateType = "{required:true}", validateMessage = "{required:'不可为空'}" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BarCode">
                            商品条码 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("BarCode", Model.BarCode, new { @class = "form-control col-md-7 col-xs-12", placeholder = "商品条码", validateType = "{required:true}", validateMessage = "{required:'不可为空'}" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BarCode">
                            商品类别 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @{
                                IList<SelectListItem> cItems = new List<SelectListItem>();
                                SelectListItem selectItem1 = new SelectListItem();
                                selectItem1.Value = "";
                                selectItem1.Text = "请选择...";
                                cItems.Add(selectItem1);
                                foreach (var c in CTypeList)
                                {
                                    SelectListItem selectItem = new SelectListItem();
                                    selectItem.Value = c.Type_Code.ToString();
                                    selectItem.Text = c.Type_Name;
                                    cItems.Add(selectItem);
                                }
                            }
                            @Html.DropDownList("Commodity_TypeCode", cItems, new { @class = "form-control input-sm col-md-7 col-xs-12" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BarCode">
                            商品进价 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("PCSalePrice", Model.PCSalePrice, new { @class = "form-control col-md-7 col-xs-12", placeholder = "商品进价", validateType = "{required:true}" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BarCode">
                            商品售价 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("RetailPrice", Model.RetailPrice, new { @class = "form-control col-md-7 col-xs-12", placeholder = "商品售价", validateType = "{required:true}" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BarCode">
                            商品规格 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Specification", Model.Specification, new { @class = "form-control col-md-7 col-xs-12", placeholder = "商品规格", validateType = "{required:true}" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            @if (@ViewBag.type == "1")
                            {
                                <button type="button" class="btn btn-success" onclick="SaveForm(this,'1')">保存信息</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success" onclick="SaveForm(this, '0')">保存并增加下一个</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/build/js/bar.js" type="text/javascript"></script>
<script>
    $("#PCSalePrice,#RetailPrice").bind("keyup", function () {
        $(this).val($(this).val().replace(/[^0-9.]/g, ""));
    })
    function SaveForm(form, type) {
        $thisForm = $(form).parents('form');
        if (type == "1") {
            $thisForm.find("[name='formOperateType']").val("");
        } else {
            $thisForm.find("[name='formOperateType']").val("saveAndNewNext");
        }
        var url = "/CommodityInfo/Save";
        onlySaveForm(form, url);
    }
</script>


